#Faqs 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;

    h2 
    {
        font-weight: 570;
        font-size: 1.4em;
        text-align: center;
    }

    .questions 
    {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 600px;
        gap: 20px;

        .question 
        {
            .title 
            {
                display: flex;
                justify-content: space-between;

                h3 
                {
                    font-size: 0.95em;
                    font-weight: 450;
                }

                i 
                {
                    font-size: 0.95em;
                }
            }

            p 
            {
                font-size: 0.8em;
                width: 90%;
                font-weight: 350;
                margin-top: 10px;
            }

            padding-bottom: 15px;
            border-bottom: 1px solid #9B9B9B;
        }
    }
}

@media screen and (max-width: 902px) {
    #Faqs 
    {
        .questions 
        {
            width: 400px;
        }
    }
}

@media screen and (max-width: 550px) {
    #Faqs 
    {
        .questions 
        {
            width: 300px;
        }
    }
}