@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    font-family: League Spartan;
    margin: 0 auto;
    padding: 0px 10px;
    max-width: 800px;
    color: black;
}

a 
{
    text-decoration: none;
    color: black;
}

img 
{
    object-fit: cover;
    object-position: center;
}

.logo 
{
    width: 100px;
}
